.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
    font-size:medium;
    background-color: aqua;
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px black;
    cursor:pointer;
    transition: transform 0.1s, background-color blue;
}
button:active{
    transform: scale(0.95);
    background-color: gray;
}
#ans {
    font-size: 90px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {

}